
.product {
    display: flex;
    flex-wrap: wrap;       
    align-items: flex-start;
    gap: 5%;
    padding: 20px;
}

.product img {
    width: 45%;           
    height: auto;
    min-height: 300px;
    background-color: #f0f0f0; 
    object-fit: cover;
}

.product-content {
    width: 45%;           
}

.h1 {
    font-size: 3rem;
    margin-top: 0;  
}

.CartButton {
    width: 100%;          
    display: flex;
    justify-content: center; 
    margin-top: 50px;
}

.CartButton p {
    background-color: black;
    color: white;
    padding: 15px 80px;   
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s;
}

.CartButton p:hover {
    background-color: green;
}