<!doctype html>
<html lang="en-US"> 
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='Main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='ProductPage.css') }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ product.title }}</title>
    </head>

  <body>
    <div class="Home">
        <p><a href="/">Home</a></p>

        <p><a href="/blog">Blog</a></p>

        <p><a href="/admin">Admin</a></p>
    </div>
  

  <div class="product">
    <img src="{{ url_for('static', filename=product.img) }}" alt="Product Picture">

    
    <h1>{{ product.title }}</h1>

    <div class="product-content">
        <p>{{ product.desc }} </p>
    </div>



    <div class="CartButton"> 
        <p>
            Add to Cart
        </p>
    </div>


</body> </html>