
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 40px;
    background-color: #ffffff;
}

.Home {
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
    margin-top: 13px;
    margin-left: 21px;
}

.Home p {
    margin: 0;
    color: green;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none
}

.Home a {
    text-decoration: none
}

.Home p:visited {
    color: green;
}

.Home a:visited {
    color: green; 
}

.Hoodie, .T-Shirt, .Pants {
    display: flex;
    align-items: center;       
    justify-content: space-between;
    padding: 40px 0;
    margin-bottom: 20px;
    border-bottom: 1px dashed #bbb; 
    gap: 50px;
}

img {
    width: 45%;
    height: 250px;           
    background-color: #e0e0e0; 
    object-fit: cover;
    display: block;
}

.text-content {
    position: relative;       
    width: 45%;
    min-height: 150px;        
    padding-top: 60px;        
}

h1 {
    position: absolute;
    top: 0;
    margin: 0;
    font-size: 2.5rem;
}

.Hoodie h1, .Pants h1 {
    left: 0;
}

.T-Shirt {
    flex-direction: row-reverse; 
}

.T-Shirt h1 {
    right: 0;
}

h1 a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
}

h1 a:hover {
    background-color: green
}